<nav class="navbar">
    <div class="nav-left">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Home</a>
        <a routerLink="/all-courses" routerLinkActive="active">All Courses</a>
        <a routerLink="/courses" routerLinkActive="active">My Courses</a>
    </div>
    <div class="nav-right">
        <a routerLink="/profile" routerLinkActive="active">
            <img [src]="profileImage" alt="Profile" class="profile-icon" (error)="profileImage = 'images/profile.jpg'"/>
        </a>
    </div>
</nav>